.display {
    height: 280px;
}

.chat {
    height: 240px;
}

#p1-choises,
#p2-choises {
    height: 130px;
}

#left-div,
#right-div {
    border-width: 5px !important;
}

#left-div,
#right-div,
#center-div {
    min-height: 140px;
}